<div class="col-md-4 col-md-push-4">
    <h3>Bank Management <a class="btn btn-danger pull-right" ui-sref="^">X</a></h3>

    <form class="form" name="managebank">
        <div class="form-group">
            <label for="bank_name">Bank Name:</label>
            <input class="form-control" type="text" id="bank_name" ng-model="bank.name"/>
        </div>
        <div class="form-group">
            <label for="bank_rate">Annual Interest Rate:</label>
            <input class="form-control" type="number" id="bank_rate" ng-model="bank.interest"/>
        </div>
        <div class="form-group">
            <label for="bank_compounding">Compounding Period</label>
            <select class="form-control" name="bank_compounding" id="bank_compounding" ng-model="bank.compounding">
                <option value="monthly">Monthly</option>
                <option value="annually">Annually</option>
            </select>
        </div>
        <button class="btn btn-primary" ng-click="ManageBank.save()">Save</button>
    </form>

</div>
