<div>
    <div class="col-xs-8 col-xs-push-2">
        <h2>Add Transaction</h2>

        <form class="form-horizontal clearfix" role="form" name="addTransaction"
              ng-submit="submitTransaction(user.id,this)"
              ng-model="theTransactionForm">
            <div class="form-group">
                <label class="col-sm-2 col-lg-push-2 control-label" for="description">Description</label>

                <div class="col-sm-10 col-lg-6 col-lg-push-2">
                    <input type="text" class="form-control" required
                           id="description" placeholder="Description"
                           ng-model="trans.description">
                </div>
            </div>
            <div class="form-group">
                <label for="amount" class="col-sm-2 col-lg-push-2 control-label">Amount</label>

                <div class="col-sm-10 col-lg-6 col-lg-push-2">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" class="form-control" id="amount" name="amount" step="any" required
                               placeholder="Amount" ng-model="trans.amount"/>
                    </div>
                </div>
            </div>
            <fieldset>
                <legend>
                    Envelopes
                    <a ng-href="#/accounts/{{user.id}}/envelopes">
                        <small><span class="glyphicon glyphicon-edit" title="Edit envelopes for {{user.name}}"></span>
                        </small>
                    </a>
                </legend>
                <envelope env="envelope" trans="{{trans.amount}}"
                          ng-repeat="envelope in (user.envelopes | filter:{is_active: 1})"></envelope>
            </fieldset>
            <button type="submit" class="btn btn-primary btn-lg col-md-6">Submit</button>
            <a ui-sref="^" type="submit" class="btn btn-primary col-md-4 col-md-push-2">Cancel</a>
        </form>
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}
        </alert>
        <copytrans ng-show="(alerts  | filter:{copy:true}).length" message="Copy to another user?"
                   users="accountHolders" current="user" last-trans="{{lastTransaction}}">
        </copytrans>


    </div>
</div>