<div class="col-md-12">
    <h3>User Management <a class="btn btn-info pull-right" ui-sref="^"><span class="fa fa-arrow-left"></span></a></h3>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>User</th>
                <th>User Type</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in manageUsers.users track by user.id">
                <td>{{$index + 1}}</td>
                <td>{{user.name}}</td>
                <td>{{manageUsers.cleanUserType(user.user_type)}}</td>
                <td>
                    <a ui-sref="root.manage.manage-users.manage-users-edit({ id: user.id })"
                       class="btn btn-default">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-default" ng-click="manageUsers.addNew()">Add new User</button>
    <div ui-view="edit" autoscroll="true"></div>

</div>
