<div class="col-md-12">
<h4>Edit {{editUser.user.name}} <a class="btn btn-danger pull-right" ui-sref="^">X</a></h4>
    <form class="form" name="manageuser">
        <div class="form-group">
            <label for="user_name">Name:</label>
            <input required class="form-control" name="name" type="text" id="user_name" ng-model="editUser.user.name"
                    />

            <div ng-messages="manageuser.name.$error" class="help-block bg-danger text-danger">
                <div ng-messages-include="partial/messages.html"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="user_username">Username:</label>
            <input ng-focus="editUser.suggestUsername(manageuser.username.$pristine)" required class="form-control"
                   type="text" id="user_username" ng-model="editUser.user.username" name="username"/>

            <div ng-messages="manageuser.username.$error" class="help-block bg-danger text-danger">
                <div ng-messages-include="partial/messages.html"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="user_email">Email:</label>
            <input class="form-control" type="email" id="user_email" name="email" ng-model="editUser.user.email"
                   ng-model-options="{ debounce: 1000 }"/>

            <div ng-messages="manageuser.email.$error" class="help-block bg-danger text-danger">
                <div ng-messages-include="partial/messages.html"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="user_password">Password:</label>
            <input ng-required="editUser.isNew()" class="form-control" type="password" id="user_password" ng-model="editUser.user.password"/>

            <div ng-messages="manageuser.password.$error" class="help-block bg-danger text-danger">
                <div ng-messages-include="partial/messages.html"></div>
            </div>
        </div>
        <div class="form-group" ng-show="editUser.user.password  || editUser.isNew()" >
            <label for="user_password_check">Password (enter again just to be sure):</label>
            <input ng-required="editUser.user.password" class="form-control" type="password" id="user_password_check"
                   compare-to="editUser.user.password" name="password_check" minlength="3"
                   ng-model="editUser.user.password_check"/>

            <div ng-messages="manageuser.password_check.$error" class="help-block bg-danger text-danger">
                <div ng-messages-include="partial/messages.html"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="user_usertype">User Type</label>
            <select required class="form-control" name="user_compounding" id="user_usertype"
                    ng-model="editUser.user.user_type">
                <option value="user">Account Holder</option>
                <option value="admin">Administrator (parent)</option>
                <!--<option ng-if="editUser.user.user_type=='super-admin'" value="super-admin">Super Admin</option>-->
            </select>
        </div>
        <div ng-if="editUser.message" class="bg-danger"><span class="text-danger" ng-bind-html="editUser.message"></span></div>
        <button ng-disabled="manageuser.$invalid" class="btn btn-primary" ng-click="editUser.save()">Save</button>


    </form>
</div>
