<div class="col-xs-12 col-sm-6 col-sm-offset-3" >
<h2>Get Password Reminder</h2>
    <form ng-submit="LoginReminder.submitEmail()" ng-hide="LoginReminder.submitted">
        <div class="form-group">
            <label for="email">Email Address</label>
            <input class="form-control" type="email" id="email" name="email" ng-model="LoginReminder.email">
        </div>
        <button class="btn btn-primary">Send Reminder</button>
    </form>
    <div ng-hide="!LoginReminder.submitted">
        <h3>Thank you. Please check your email for password reset instructions.</h3>

    </div>
    <div class="top-20"><a ui-sref="root.login">Go to login page</a></div>

</div>
