<div>
    <div class="row">
        <div class="col-md-6 col-sm-4">
        <h1>{{::accountDetails.user.name}}&nbsp;<wbr><small>(Balance:&nbsp;{{accountDetails.user.balance | currency}})</small></h1>

        </div>
        <!--<div class="col-sm-4">-->
        <!--</div>-->
        <div class="col-md-6 col-sm-8 text-right">
            <div class="btn-group">
                <switch-account current="{{::accountDetails.user.id}}"></switch-account>
                <a ui-sref-active="hidden" ui-sref="root.account-details.transaction-add" class="btn btn-success">
                    <span class="fa fa-plus"></span> Add<span class="hidden-xs"> Transaction</span>
                </a>
                <a ui-sref-active="hidden" ui-sref="root.account-details.envelopes" class="btn btn-default"
                   title="Edit envelopes for {{::accountDetails.user.name}}">
                    <span class="fa fa-edit"></span> <span class="hidden-xs">Edit</span> Env<span class="hidden-xs">elopes</span>
                </a>

            </div>
        </div>
     </div>
     <div class="row ui-view-container">
        <div ui-view="popins"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Transactions</h2>

            <div class="row">
                <div class="hidden-xs col-sm-3 h3 text-center">Date</div>
                <div class="visible-xs col-xs-2 h3 text-center"><span class="fa fa-calendar"></span></div>
                <div class="col-xs-7 col-sm-5 h3 text-center">Description</div>
                <div class="hidden-xs col-sm-4 h3 text-center">Amount</div>
                <div class="visible-xs col-xs-3 h3 text-center"><span class="fa fa-usd"></span></div>
            </div>
            <div ng-repeat="transaction in accountDetails.transactions | orderBy:'-created_at' track by transaction.id"
                 ng-click="hidden=!hidden" ng-init="hidden=true"
                    class="separation hoverhighlight touchable">
                <div class="row">
                    <div class="col-xs-2 col-sm-3">{{::transaction.created}}</div>
                    <div class="col-xs-7 col-sm-5">{{::transaction.description}}</div>
                    <div class="col-xs-3 col-sm-4 text-right">{{::transaction.amount | currency}}</div>
                </div>
                <div class="row" ng-hide="hidden">
                    <ul class="list-inline col-sm-10 col-sm-offset-1">
                        <li ng-repeat="et in ::transaction.envelope_transaction track by et.id">
                            <div class="env-labels">
                                <span class="label label-info"><strong><span class="fa fa-envelope"></span> {{accountDetails.getEnvelope(et.envelope_id).name}}</strong>:
                                {{et.amount | currency}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="btn btn-primary btn-block btn-large touchable" ng-click="accountDetails.getMore()"
                    ng-show="accountDetails.morePages()">Load more
            </button>
        </div>
    </div>
</div>