<div>
    <div class="row">
        <div class="col-sm-4">
        <h1>{{accountDetails.user.name}} <wbr><small>(Balance:&nbsp;{{accountDetails.user.balance | currency}})</small></h1>

        </div>
        <div class="col-sm-4">
            <switch-account current="{{accountDetails.user.id}}"></switch-account>
        </div>
        <div class="col-sm-4">
            <a ui-sref-active="hidden" ui-sref="root.account-details.transaction-add" class="btn btn-default">
                Add Transaction
                <small><span class="fa fa-plus"></span>
                </small>
            </a>
            <a ui-sref-active="hidden" ui-sref="root.account-details.envelopes" class="btn btn-default"
               title="Edit envelopes for {{accountDetails.user.name}}">
                Edit Envelopes
                <small><span class="fa fa-edit"></span>
                </small>
            </a>
        </div>
     </div>
     <div class="row ui-view-container">
        <div ui-view="popins"></div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Transactions</h2>

            <div class="row touchable">
                <div class="col-xs-2 col-sm-3 h3">Date</div>
                <div class="col-xs-7 col-sm-5 h3">Description</div>
                <div class="col-xs-3 col-sm-4 h3">Amount</div>
            </div>
            <div ng-repeat="transaction in accountDetails.transactions | orderBy:'-created_at' track by transaction.id"
                 ng-click="hidden=!hidden" ng-init="hidden=true">
                <div class="row touchable">
                    <div class="col-xs-2 col-sm-3">{{transaction.created}}</div>
                    <div class="col-xs-7 col-sm-5">{{transaction.description}}</div>
                    <div class="col-xs-3 col-sm-4">{{transaction.amount | currency}}</div>
                </div>
                <div class="row" ng-hide="hidden">
                    <ul class="list-inline col-sm-10 col-sm-offset-1">
                        <li ng-repeat="et in transaction.envelope_transaction track by et.id">
                            <div class="env-labels">
                                <span class="label label-info"><strong><span class="fa fa-envelope"></span> {{accountDetails.getEnvelope(et.envelope_id).name}}</strong>:
                                {{et.amount | currency}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="btn btn-primary btn-block btn-large" ng-click="accountDetails.getMore()"
                    ng-show="accountDetails.morePages()">Load more
            </button>
        </div>
    </div>
</div>