<div class="col-md-12">
    <h2>Envelopes <a class="btn btn-danger pull-right" ui-sref="^"><span class="fa fa-times"></span></a>
    </h2>

    <form >
        <div class="row">
            <div class="col-xs-4">Name</div>
            <div class="col-sm-2 col-xs-3">Percent</div>
            <div class="col-sm-2 col-xs-3">Goal</div>
            <div class="col-sm-2 hidden-xs">Current Balance</div>
            <div class="col-xs-1">Spending Default?</div>
            <div class="col-xs-1">Active</div>
        </div>

        <div class="row" ng-repeat="envelope in accountEnvelopes.envelopes.data | orderBy:['-deleted_at', 'name'] track by envelope.id">
            <div class="col-xs-4"><input class="form-control" type="text" ng-model="envelope.name"/></div>
            <div class="col-sm-2 col-xs-3"><input class="form-control" type="number" ng-model="envelope.percent"/></div>
            <div class="col-sm-2 col-xs-3"><input class="form-control" type="number" ng-model="envelope.goal"/></div>
            <div class="col-sm-2 hidden-xs text-right">{{envelope.balance | currency}}</div>
            <div class="col-xs-1">
                <input type="radio" ng-model="accountEnvelopes.envelopes.default" ng-value="envelope.id"
                        ng-disabled="envelope.deleted_at"  />
            </div>
            <div class="col-xs-1">
                <input type="checkbox"
                       ng-disabled="envelope.balance !== 0 || envelope.id === accountEnvelopes.envelopes.default"
                       ng-model="envelope.deleted_at"
                       ng-true-value="null"
                       ng-false-value="1" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4"><p class="form-control-static text-center h4">Totals</p></div>
            <div class="col-sm-2 col-xs-3">
                <p class="form-control-static text-center h4"
                   ng-class='{"bg-danger": accountEnvelopes.totals().percent > 100}'>
                    {{accountEnvelopes.totals().percent}}%
                </p>
            </div>
            <div class="col-sm-2 col-xs-3">
                <p class="form-control-static text-center h4">{{accountEnvelopes.totals().goals | currency}}</p>
            </div>
            <div class="col-sm-2 hidden-xs">
                <p class="form-control-static text-center h4">{{accountEnvelopes.totals().balance | currency}}</p>
            </div>
            <div class="col-xs-1">
            </div>
            <div class="col-xs-1">
            </div>

        </div>
        <div class="row margin-top">
            <div class="col-xs-8 col-md-6 col-md-push-1">
                <button class="btn btn-primary btn-block" ng-click="accountEnvelopes.save()">Save</button>
            </div>
            <div class="col-xs-3 col-md-4 col-xs-push-1">
                <button class="btn btn-default btn-block" ng-click="accountEnvelopes.add()"><span class="fa fa-plus"></span> Add Envelope</button>
            </div>
        </div>
    </form>
</div>
